html {
    height: 100vw;
    width: 100vw;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vw;
    align-items: center;
    gap: 10px;   
}

.flexbox-1 {
    background-color: rgb(69, 174, 255);
    font-size: 40px;  
}

.flexbox-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 20%;
    width: 100vw;
    background-color: rgb(69, 174, 255);   
}

.flexbox-3 {
    font-size: 35px;
    gap: 50px;
    background-color: rgb(69, 174, 255);
}

.flexbox-4 {
    font-size: 35px;
    gap: 100px;
    background-color: rgb(69, 174, 255);
}

.flexbox-5 {
    font-size: 35px;
    background-color: rgb(69, 174, 255);
}

.flexbox-1, .flexbox-3, .flexbox-4, .flexbox-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
}

.btn {
  width: 200px;
  height: 200px;
}

.btn, .btnAgain:hover {
    box-shadow: 10px 10px 40px rgb(227, 227, 228);
}

.btnRock {
    background-image: url("img/rock.jpg");
    background-size: cover;
}

.btnPaper {
    background-image: url("img/paper.jpg");
    background-size: cover;
}

.btnScissors {
    background-image: url("img/scissors.jpg");
    background-size: cover;
}

.playerSelection {
    flex-basis: 360px;
}

.resultRound {
    flex-basis: 540px;
}

.computerSelection {
    flex-basis: 380px;
}

.playerScore {
    flex-basis: 200px;
}

.computerScore {
    flex-basis: 250px;
}

.btnAgain {
    font-size: 20px;
    border-radius: 4px;
}




