html {
    height: 100vw;
    width: 100vw;   
}

.body {
    background-color:rgb(1, 1, 11);
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vw;
    align-items: center;   
}

.flexbox-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 20, 33);
    height: 100px;
    width: 100vw;
    font-size: 45px;
    margin-top: -10px; 
}

.flexbox-2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 25px;
    padding: 10px;
}

/* buttons */
.flexbox-3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 160px;;
    width: 100vw;
    padding-top: 5px;
}

.flexbox-4 {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 100vw;
    font-size: 35px;
    gap: 50px;
}

.flexbox-5 {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90px;
    font-size: 35px;
}

.flexbox-6 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90px;
    gap: 50px;
}

.flexbox-7 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 100vw;
    height: 90px;
}

.btn {
  height: 120px;
  flex-basis: 120px;
}

.btn:hover {
    box-shadow: 5px 5px 20px rgb(227, 227, 228);
}

.btnAgain:hover {
    box-shadow: 5px 5px 20px rgb(227, 227, 228);
}

.btnRock {
    background-image: url("img/rock.jpg");
    background-size: cover;
}

.btnPaper {
    background-image: url("img/paper.jpg");
    background-size: cover;
}

.btnScissors {
    background-image: url("img/scissors.jpg");
    background-size: cover;
}

.playerSelectionImage {
    width: 150px;
    height: 150px;
}

.computerSelectionImage {
    width: 150px;
    height: 150px;
}

.resultRound {
    text-align: center;
    flex-basis: 450px;
}

.playerScore {
    flex-basis: 200px;
}

.computerScore {
    flex-basis: 250px;
}

.btnAgain {
    font-size: 20px;
    border-radius: 4px;
    padding: 10px;
    color: black;
}

.btnAgain:enabled {
    background-color:rgb(30, 156, 224);
}